body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    background: #151718;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.box {
    position: relative;
    width: 360px;
    height: 640px;
    margin-top: 150px;
    background: rgba(0, 0, 0, .1);
    transform: rotate(-30deg) skew(25deg) scale(.8);
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: url(01.jpg);
    background-size: cover;
    transition: 0.5s;
}

.box:hover .layer:nth-child(4) {
    transform: translate(160px, -160px);
    opacity: 1;
}

.box:hover .layer:nth-child(3) {
    transform: translate(120px, -120px);
    opacity: .8;
}

.box:hover .layer:nth-child(2) {
    transform: translate(80px, -80px);
    opacity: .6;
}

.box:hover .layer:nth-child(1) {
    transform: translate(40px, -40px);
    opacity: .4;
}
