.device {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 70%;
    margin: 0 auto;
    border: 2px solid #ebcb63;
    border-radius: 6px;
    box-shadow: 10px 10px 0 -2px #151718, 10px 10px 0 rgba(255, 255, 255, 0.1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation: morphDevice 10s infinite cubic-bezier(1, 0.015, 0.295, 1.225) forwards;
    animation: morphDevice 10s infinite cubic-bezier(1, 0.015, 0.295, 1.225) forwards;
}

.device figcaption {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 15px 0 0 rgba(255, 255, 255, 0.1), 30px 0 0 rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    -webkit-animation: morphButtons 10s infinite cubic-bezier(1, 0.015, 0.295, 1.225) forwards;
    animation: morphButtons 10s infinite cubic-bezier(1, 0.015, 0.295, 1.225) forwards;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

@-webkit-keyframes morphDevice {
    0%,
    15% {
        width: 100%;
        padding-top: 70%;
        margin-top: 0;
        border-color: #ebcb63;
        box-shadow: 10px 10px 0 -2px #151718, 10px 10px 0 rgba(255, 255, 255, 0.1);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    25%,
    40% {
        width: 70%;
        padding-top: 55%;
        margin-top: 7.5%;
        border-color: #4b8ac4;
        box-shadow: 9px -9px 0 -2px #151718, 9px -9px 0 rgba(255, 255, 255, 0.1);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    50%,
    65% {
        width: 28%;
        padding-top: 42%;
        margin-top: 15%;
        border-color: #ece9f2;
        box-shadow: -8px -8px 0 -2px #151718, -8px -8px 0 rgba(255, 255, 255, 0.1);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    75%,
    90% {
        width: 55%;
        padding-top: 70%;
        margin-top: 0;
        border-color: #57c39f;
        box-shadow: -9px 9px 0 -2px #151718, -9px 9px 0 rgba(255, 255, 255, 0.1);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        width: 100%;
        padding-top: 70%;
        margin-top: 0;
        border-color: #ebcb63;
        box-shadow: 10px 10px 0 -2px #151718, 10px 10px 0 rgba(255, 255, 255, 0.1);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes morphDevice {
    0%,
    15% {
        width: 100%;
        padding-top: 70%;
        margin-top: 0;
        border-color: #ebcb63;
        box-shadow: 10px 10px 0 -2px #151718, 10px 10px 0 rgba(255, 255, 255, 0.1);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    25%,
    40% {
        width: 70%;
        padding-top: 55%;
        margin-top: 7.5%;
        border-color: #4b8ac4;
        box-shadow: 9px -9px 0 -2px #151718, 9px -9px 0 rgba(255, 255, 255, 0.1);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    50%,
    65% {
        width: 28%;
        padding-top: 42%;
        margin-top: 15%;
        border-color: #ece9f2;
        box-shadow: -8px -8px 0 -2px #151718, -8px -8px 0 rgba(255, 255, 255, 0.1);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    75%,
    90% {
        width: 55%;
        padding-top: 70%;
        margin-top: 0;
        border-color: #57c39f;
        box-shadow: -9px 9px 0 -2px #151718, -9px 9px 0 rgba(255, 255, 255, 0.1);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        width: 100%;
        padding-top: 70%;
        margin-top: 0;
        border-color: #ebcb63;
        box-shadow: 10px 10px 0 -2px #151718, 10px 10px 0 rgba(255, 255, 255, 0.1);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes morphButtons {
    0%,
    15%,
    100% {
        top: 12px;
        left: 12px;
        margin: 0;
        background: #ebcb63;
        box-shadow: 15px 0 0 rgba(255, 255, 255, 0.1), 30px 0 0 rgba(255, 255, 255, 0.1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    25%,
    40% {
        top: 50%;
        left: 100%;
        margin: -5px 0 0 -20px;
        background: #4b8ac4;
        box-shadow: 0 0 0 250px rgba(255, 255, 255, 0.05), 0 0 0 100px transparent;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    50%,
    65% {
        top: 10px;
        left: 50%;
        margin: 0 0 0 -5px;
        background: #ece9f2;
        box-shadow: 0 -30px 0 rgba(255, 255, 255, 0.05), 0 -30px 0 rgba(255, 255, 255, 0.05);
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    75%,
    90% {
        top: 100%;
        left: 50%;
        margin: -20px 0 0 -5px;
        background: #57c39f;
        box-shadow: 0 0 0 250px rgba(255, 255, 255, 0.05), 0 0 0 100px transparent;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes morphButtons {
    0%,
    15%,
    100% {
        top: 12px;
        left: 12px;
        margin: 0;
        background: #ebcb63;
        box-shadow: 15px 0 0 rgba(255, 255, 255, 0.1), 30px 0 0 rgba(255, 255, 255, 0.1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    25%,
    40% {
        top: 50%;
        left: 100%;
        margin: -5px 0 0 -20px;
        background: #4b8ac4;
        box-shadow: 0 0 0 250px rgba(255, 255, 255, 0.05), 0 0 0 100px transparent;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    50%,
    65% {
        top: 10px;
        left: 50%;
        margin: 0 0 0 -5px;
        background: #ece9f2;
        box-shadow: 0 -30px 0 rgba(255, 255, 255, 0.05), 0 -30px 0 rgba(255, 255, 255, 0.05);
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    75%,
    90% {
        top: 100%;
        left: 50%;
        margin: -20px 0 0 -5px;
        background: #57c39f;
        box-shadow: 0 0 0 250px rgba(255, 255, 255, 0.05), 0 0 0 100px transparent;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

body {
    height: 100%;
    background: #151718;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 222px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ir {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}
